<fieldset class="vignette-card item" data-item-id="{{vignette._id}}">
	<legend class="control flexrow gap-xs">
		<span class="litm-banner vignette-card-label">{{vignette.name}}</span>
		{{#if (and hasObserverPermission controlsVisibility)}}
		<button type="button" data-action="toggleVignetteHidden"
			data-tooltip="{{localize 'LITM.Ui.toggle_vignette_hidden'}}" aria-label="{{localize 'LITM.Ui.toggle_vignette_hidden'}}">
			<i class="fa-solid {{ifThen vignette.system.limitedPermissionHidden 'fa-eye-slash' 'fa-eye'}}" aria-hidden="true"></i>
		</button>
		{{/if}}
		{{#if hasObserverPermission}}
		<button type="button" data-action="sendVignetteToChat" {{#unless vignette.system.threat}}data-tooltip="{{localize 'LITM.Ui.vignette_missing_threat'}}" disabled{{else}}data-tooltip="{{localize 'LITM.Ui.vignette_to_chat'}}"{{/unless}}
			 aria-label="{{localize 'LITM.Ui.vignette_to_chat'}}">
			<i class="fa-solid fa-message" aria-hidden="true"></i>
		</button>
		{{/if}}
	</legend>
	{{#if vignette.system.isConsequenceOnly}}
	{{#if vignette.system.consequences.length}}
	<ul class="consequences-list">
		{{#each vignette.system.consequences as |consequence|}}
		<li class="consequence-item">{{{consequence}}}</li>
		{{/each}}
	</ul>
	{{/if}}
	{{else}}
	{{#if (or vignette.system.threat vignette.system.consequences.length)}}
	{{#if vignette.system.threat}}
	<div class="threat-text">{{{vignette.system.threat}}}</div>
	{{/if}}
	{{#if vignette.system.consequences.length}}
	{{#if hasObserverPermission}}
	<ul class="consequences-list">
		{{#each vignette.system.consequences as |consequence|}}
		<li class="consequence-item">{{{consequence}}}</li>
		{{/each}}
	</ul>
	{{/if}}
	{{/if}}
	{{/if}}
	{{/if}}
</fieldset>
