<section class="flexcol gap-lg">
	<!-- General Consequences -->
	{{#if (and generalConsequence (not limitedView))}}
	<fieldset>
		<legend class="litm-banner vignette-card-label">
			{{localize "LITM.Terms.general_consequences"}}
		</legend>
		<ul class="consequences-list">
			{{#each generalConsequence.system.consequences as |consequence|}}
			<li class="consequence-item">{{{consequence}}}</li>
			{{/each}}
		</ul>
	</fieldset>
	{{/if}}

	<!-- Vignettes -->
	{{#if displayVignettes.length}}
	<div class="grid-2col">
		{{#each displayVignettes as |vignette|}}
			{{#unless (and @root.limitedView vignette.system.limitedPermissionHidden)}}
			{{> systems/litmv2/templates/partials/vignette-card-play.html vignette=vignette hasObserverPermission=@root.hasObserverPermission controlsVisibility=true}}
			{{/unless}}
		{{/each}}
	</div>
	{{/if}}
</section>
