<div class="standard-form">
	{{#if empty}}
	<p class="hint">{{localize "LITM.Actions.no_consequences_to_apply"}}</p>
	{{else}}
	<div class="litm-spend-power__body">
	{{#if targets.length}}
	<fieldset class="litm--apply-target-row">
		<legend>{{localize "LITM.Actions.pick_targets"}}</legend>
		<p class="hint">{{localize "LITM.Actions.consequence_targets_hint"}}</p>
		<ul class="litm--apply-target-chips">
			{{#each targets}}
			<li class="litm--apply-target-chip">
				<label>
					<input type="checkbox" name="target" value="{{id}}" {{#if selected}}checked{{/if}} />
					{{#if img}}<img src="{{img}}" alt="" />{{/if}}
					<span>{{name}}</span>
				</label>
			</li>
			{{/each}}
		</ul>
	</fieldset>
	{{/if}}
	{{#if items.length}}
	<fieldset>
		<legend>{{localize "LITM.Terms.consequences"}}</legend>
		{{#if isPushed}}
		<p class="hint">{{localize "LITM.Actions.push_consequence_hint"}}</p>
		{{else}}
		<p class="hint">{{localize "LITM.Actions.consequences_menu_hint"}}</p>
		{{/if}}
		<ul class="litm-spend-power__options">
			{{#each items as |item|}}
			{{> "systems/litmv2/templates/partials/consequence-option.html" item inputType=@root.inputType}}
			{{/each}}
		</ul>
	</fieldset>
	{{/if}}
	{{#if sources.length}}
	<p class="hint">{{localize "LITM.Actions.contributed_consequences_hint"}}</p>
	{{#each sources as |source|}}
	<fieldset>
		<legend>{{source.sourceName}}</legend>
		{{#each source.vignettes as |vignette|}}
		{{#if vignette.label}}<h4 class="litm-render__section-header">{{vignette.label}}</h4>{{/if}}
		{{#if vignette.threat}}<div class="threat-text">{{{vignette.threat}}}</div>{{/if}}
		<ul class="litm-spend-power__options">
			{{#each vignette.items as |item|}}
			{{> "systems/litmv2/templates/partials/consequence-option.html" item inputType=@root.inputType}}
			{{/each}}
		</ul>
		{{/each}}
	</fieldset>
	{{/each}}
	{{/if}}
	</div>
	<div class="form-footer">
		<button type="submit" class="bright">
			<i class="fa-solid fa-skull" aria-hidden="true"></i>
			{{localize "LITM.Actions.apply"}}
		</button>
	</div>
	{{/if}}
</div>
